@import "../../../../../../../../styles/utils";

.select {
  position: relative;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid $borderColor;
    border-radius: 8px;
    padding: 18px;
    cursor: pointer;
    position: relative;

    svg {
      position: absolute;
      right: 18px;
    }

    &:hover {
      svg path {
        transition: 0.3s;
        fill: $lightGreen
      }
    }
  }

  &__value {
    position: absolute;
    background-color: transparent;
    outline: none;
    border: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding-left: 18px;

    &::placeholder {
      font-family: "Gilroy", sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 100%;
      color: #888;
    }
  }

  &__indicator {
    transition: 0.3s;

    &--active {
      path {
        fill: $lightGreen;
      }
      transform: scaleY(-1);
    }
  }
}
