@import "src/styles/utils";

.config {

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__label {
    @extend %label;
  }

  &__value {
    @extend %label;
    color: $defaultColor;
  }
}
