@import "./utils";

.auth-form-container {
  border-radius: 12px;
  border: 1px solid $borderColor;
  max-width: 435px;
  padding: 36px;
  margin: 0 auto;
  box-sizing: border-box;

  &--sign-in {
    margin-top: 102px;
  }

  &--registration,
  &--recovery,
  &--login {
    margin-top: 24px;
  }
}
