@import "src/styles/utils";
.custom-toast {
  position: absolute;
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 500;
  &__head {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    font-size: 18px;
    line-height: 130%;
    color: $defaultColor;
    & > svg {
      margin-right: 12px;
    }
  }
  &__body {
    font-size: 16px;
    line-height: 150%;
  }

  & .Toastify__toast {
    background-color: $defaultBackgroundColor !important;
    border: 1px solid $borderColor;
    backdrop-filter: blur(64px);
    border-radius: 12px;
  }
  & .Toastify__toast-body {
    margin: 0;
    padding: 16px 0 16px 16px;
  }
  & .Toastify__close-button {
    & path {
      fill: $secondary;
    }
  }
}
