//@import "src/styles/utils";
//
//.lang {
//  display: flex;
//  align-items: center;
//  gap: 8px;
//
//  &__label {
//    color: $defaultColor;
//    text-transform: uppercase;
//    position: relative;
//    top: 1px;
//  }
//
//  .toggle-switch__slider {
//    border-color: #16a34a;
//
//    &:before {
//      background-color: #16a34a;
//    }
//  }
//}

@import "src/styles/utils";

.language {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  top: 1px;
  z-index: 99;

  &__title {
    color: $defaultColor;
    width: 20px;
    font-size: 16px;
    font-weight: 600;
  }

  &__select {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  &__dropdown-indicator {
    transform: matrix(1, 0, 0, 1, 0, 0);
    transition: 0.3s;
    &--active {
      path {
        fill: $lightGreen;
      }
      transform: matrix(1, 0, 0, -1, 0, 0);
    }
  }

  &:hover {
    & svg {
      path {
        fill: $lightGreen;
      }
    }
  }

  &__dropdown-container {
    position: absolute;
    top: 0;
    left: -13px;
    padding-top: 30px;
  }

  &__dropdown {
    animation: fadeIn 0.3s ease-in-out;

    width: 55px;
    padding: 4px;
    background-color: $defaultBackgroundColor;
    position: relative;
    font-weight: 500;
    font-size: 16px;
    border: 1px solid $borderColor;
    border-radius: 6px;

    &:before {
      content: "";
      position: absolute;
      border-radius: 4px;
      border-top: 1px solid;
      border-left: 1px solid;
      top: -8px;
      right: 9px;
      width: 14px;
      height: 14px;
      transform: rotate(45deg);
      background-color: $defaultBackgroundColor;
      border-color: $borderColor;
    }

    &:after {
      top: 0;
      position: absolute;
      z-index: 250;
      right: 7px;
      content: "";
      width: 21px;
      height: 4px;
      background-color: $defaultBackgroundColor;
    }
  }

  &__dropdown--direction-top {
    bottom: 35px;

    &::before {
      bottom: -7px;
      transform: rotate(225deg);
    }

    &::after {

    }
  }

  &__dropdown--direction-bottom {
    top: 28px;

    &::before {
      top: -6px;
    }

    &::after {
      top: 0;
    }
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 4px;
    padding-right: 12px;
    min-height: 18px;
    cursor: pointer;
    color: $secondary;
    font-weight: 600;
    line-height: 100%;
    z-index: 1;

    &:hover {
      color: $defaultColor;
    }

    &--is-active {
      background-color: $lightGreen;
      color: #fff;
      border-radius: 4px;

      &:hover {
        color: #fff;
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



