@import "src/styles/utils";

.home {

  &__container {
    display: flex;
    align-items: center;
  }

  &__title {
    margin-bottom: 24px;
  }

  &__ip-toggle {
    display: flex;
    align-items: center;
    width: max-content;
    height: 100%;

    &:after {
      content: "";
      display: inline-block;
      width: 1px;
      height: 67px;
      background-color: $borderColor;
      margin-left: 40px;
      margin-right: 26px;
    }
  }

  &__unavailable-type {
    display: flex;
    font-size: 14px;
    color: white;
    border: 1px solid #16A34A;
    padding: 20px;
    margin-top: 24px;
    background-color: rgba(37, 198, 96, 0.2);
    border-radius: 12px;
    font-weight: 400;
    line-height: 20px;
  }

  &__info-icon {
    margin-right: 8px;

    path {
      stroke: white;
    }
  }

  &__show-more {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid $borderColor;
    background-color: $buttonBackground;
    cursor: default;
    transition: 0.3s;
  }
}
