$green: #16A34A;
$lightGreen: #25C660;
$lightBorderColor: #DDD;
$borderColor: #2C2C2C;
$defaultColor: white;
$defaultBackgroundColor: black;
$secondary: #888888;
$menuListColor: #0E0E0E;
$buttonBackground: #141414;
$gray: #565656;
$lightGray: #A8A8A8;
$lightGrayBackground: #1D1D1D;
$red: #CF3E4B;
$lightRed: #ff3649;
$scroll: #454545;

