@import "src/styles/utils";

.input {
  position: relative;
  display: flex;
  flex-direction: column;

  &__label {
    @extend %label;
    padding-bottom: 10px;
  }

  &__field {
    padding: 18px;
    background-color: transparent;
    border: 2px solid $borderColor;
    border-radius: 8px;
    transition: border-color 0.3s;
    @extend %placeholder;
    color: $defaultColor;

    &::placeholder {
      @extend %placeholder
    }

    &:hover,
    &:focus-visible {
      border-color: $secondary !important;
      outline: none;
    }
  }

  &__hint {
    margin-top: 6px;
    color: $lightRed;
  }

  &__input-icon {
    position: absolute;
    right: 24px;
    top: 45px;
    z-index: 9;
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    path {
      fill: $lightGreen;
    }
  }
}
