@import "src/styles/utils";

.filter {
  position: relative;

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 1px solid $borderColor;
    border-radius: 8px;
    cursor: pointer;
    transition: border-color 0.3s;

    &:hover {
      border-color: $lightGreen;
    }

    &--disabled {
      cursor: default;
      opacity: 0.64;
      &:hover {
        border-color: $borderColor;
      }
    }
  }
}
