@import "src/styles/utils";

.proxies {

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  &__table {
    margin-bottom: 16px;

    &--pagination {
      margin-bottom: 0;
    }
  }

  &__title {
    @extend %heading;
  }
}
